/* Header.css */

.header {
    color: #fff; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.2);
  }
.itemstyle{
  margin-left: 45%;
}
.nav-item{
  margin-left: 20px;
} 
  

  