/* Header.css */

.header {
    color: #fff; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    margin-top: 8px;
  }
  
.collapse{
  margin-left: 50%;
} 
.nav-item{
  margin-left: 20px;
} 
  

  