.card{
    width: 100%;
    background: linear-gradient(to top,rgba(77, 77, 77, 0.537),rgb(4, 4, 4));
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
}
.element-body{
    height: 450px;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}
.element-body::-webkit-scrollbar {
    width: 8px;
}
  
.element-body::-webkit-scrollbar-thumb {
    background-color:  rgb(66, 62, 62);
}

.img{
    transform: translate(-25px,0px);
    width: 120%;
    height: 100%;
    border-radius: 10px;
}
.card-body{
    height: 110px;
    display: contents;
    background-color: rgb(42, 39, 39);
 
}
